# -*- coding:utf-8; mode:shell-script  -*-
{{- if .my.withOci }}
export PATH={{ .chezmoi.homeDir }}/bin:$PATH

[[ -e "{{ .chezmoi.homeDir }}/lib/oracle-cli/lib/python3.7/site-packages/oci_cli/bin/oci_autocomplete.sh" ]] \
    && source "{{ .chezmoi.homeDir }}/lib/oracle-cli/lib/python3.7/site-packages/oci_cli/bin/oci_autocomplete.sh"
{{- end }}
