# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

# umask
umask = 0o022
# show progress
progress = true

# Environment detection
# {{- $env := "other" }}
# {{ if eq .chezmoi.hostname "home" -}}
# only for home machine
# {{- $env = "home" }}
# {{- else if eq .chezmoi.homeDir "/project/home/peccu" -}}
# only for codesandbox
# {{- $env = "codesandbox" }}
# {{- else if eq .chezmoi.username "codespace" -}}
# only for codespace
# {{- $env = "codespace" }}
# {{- end }}

# Git user conf
# {{- $name := promptStringOnce . "name" "Git username for the author/committer" }}
# {{- $email := promptStringOnce . "email" "Git email address for the author/committer" }}

[data]
    env = {{ $env | quote }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
