# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

# umask
umask = 0o022
# show progress
progress = true

# Environment detection
# ref. https://www.chezmoi.io/user-guide/machines/containers-and-vms/
# {{- $home:= eq .chezmoi.hostname "home" -}}
# {{- $tool:= eq (env "TOOLTYPE") "tool" -}}
# {{- $codespaces:= env "CODESPACES" | not | not -}}
# {{- $codesandbox:= env "CODESANDBOX_HOST" | not | not -}}

# Git user conf
# {{- $name := promptStringOnce . "name" "Git username for the author/committer" }}
# {{- $email := promptStringOnce . "email" "Git email address for the author/committer" }}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    home = {{ $home }}
    tool = {{ $tool }}
    codespaces = {{ $codespaces }}
    codesandbox = {{ $codesandbox }}
