[user]
    name = {{ .name }}
    email = {{ .email }}
[branch "master"]
    mergeoptions = --ff-only
[core]
    gitProxy = gitproxy-socat
    quotepath = off
[color]
    diff = auto
    status = auto
    branch = auto
[credential]
{{- if eq .env "codesandbox" }}
    helper = "!f() { echo \"username=$(cat ~/.githubtoken)\npassword=\"; }; f"
{{- else }}
    helper = store
{{- end }}
[push]
    default = simple
[pull]
    rebase = false

[include]
    path = .gitaliases
