# -*- Conf -*-
[user]
    name = {{ .my.name }}
    email = {{ .my.email }}
[branch "master"]
    mergeoptions = --ff-only
[core]
    # gitProxy = gitproxy-socat
    quotepath = off
    # editor = emacs
{{- if .my.tool }}
    # delta https://github.com/dandavison/delta
    # pager = delta --plus-color="#216820" --minus-color="#340001" --theme='Monokai Extended'
    # from 0.7.1 to 0.16.5 change
    pager = delta
{{- end }}
[color]
    diff = auto
    status = auto
    branch = auto
[credential]
{{- if .my.codesandbox }}
    helper = "!f() { echo \"username=$(cat ~/.githubtoken)\npassword=\"; }; f"
{{- else }}
    helper = store
{{- end }}
[http]
    sslVerify = false
[init]
    defaultBranch = main
{{- if .my.tool }}
[interactive]
    diffFilter = delta --color-only
[diff "xlsx"]
    textconv = git-xlsx-textconv
# from delta README
# [core]
#     pager = delta
# [interactive]
#     diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    # plus-style = "#216820"
    # minus-style = "#340001"
    syntax-theme = "Monokai Extended"
# [delta]
#     features = side-by-side line-numbers decorations
#     whitespace-error-style = 22 reverse
# [delta "decorations"]
#     commit-decoration-style = bold yellow box ul
#     file-style = bold yellow ul
#     file-decoration-style = none
{{- end }}
[pull]
    rebase = false
    ff = only
[push]
    default = simple

[include]
    path = .gitalias
    path = .gitconfig_local
